<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h4>Algunos Links para empezar: </h4>
<ul>
  <li>
    <h4><a target="_blank" rel="noopener" href="https://angular.io/">Angular blog</a></h4>
  </li>
  <li>
    <h4><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h4>
  </li>
  <li>
    <h4><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h4>
  </li>
</ul>
<div class="text-center">
  <!-- EJERCICIO 1 -> INTERPOLATION --> 
  <p>
      <!-- a) Mostrar la cantidad de Fans -->
      <span>Fans:</span>
      <span>{{fansQuantity}}</span>
  </p>
  <p>
      <!-- b) Mostrar el resultado de la funcion que nos devuelve los fans como string -->
      <span>Funcion:</span>
      <span>{{fansQuantityString() | uppercase}}</span>
  </p>
  <p>
      <!-- c) Mostrar la suma de 5 y 9 -->
      <span>Suma:</span>
      <span>{{5 + 9}}</span>
  </p>
  <!-- EJERCICIO 2 -> DATA BINDING --> 
  <div>
      <span>One Way Binding: </span>
    <!-- a) Mostrar con propertyBinding la cantida de Fans en este INPUT -->
      <input [value]="fansQuantity | number" disabled="disabled" />

    <!-- b) Agregar una funcion al componente que se encargue de agregar un fan mas. 
            Llamar a dicha funcion cada vez que se clickea el siguiente botón -->
    <button (click)='addFan()'>Agrega Fan</button>

  </div>
  <div>
    <!-- c) Mostrar con TwoWayBinding la cantida de Fans en este INPUT. Que pasa si editamos su valor? -->   
    <span>Two Way Binding: </span>
    <input [(ngModel)]="fansQuantity" />
  </div>
  <!-- EJERCICIO 3 PIPES -->
  <!-- a) Agregar un pipe a la INTERPOLATION del ejercicio 1-b), para que el texto aparezca en mayúsculas -->
  <!-- b) Agregar un pipe al propertyBinding del ejercicio 2-a), para que el número de fans aparezca con separador de mil -->
</div>
